# Ignore everything
*

# Except these folders
!.github/
!.github/**/*
!scripts/
!scripts/**/*
!packages/
!packages/**/*

# Except these files
!.editorconfig
!.eslintignore
!.eslintrc.cjs
!.gitignore
!.node-version
!.npmrc
!.prettierignore
!.prettierrc.cjs
!LICENSE
!CHANGELOG.md
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!renovate.json

# Reignore these folders
node_modules/
