# Ignore everything
*

# Except these folders
!.github/
!.github/**/*
!packages/
!packages/**/*

# Except these files
!.editorconfig
!.gitignore
!.node-version
!.npmrc
!bun.lockb
!LICENSE
!CHANGELOG.md
!package.json
!README.md
!renovate.json
!turbo.json
