# Ignore everything
*

# Except these folders
!.github/
!.github/**/*
!packages/
!packages/**/*

# Except these files
!.editorconfig
!.gitignore
!.tool-versions
!bun.lockb
!LICENSE
!package.json
!README.md
!renovate.json
!turbo.json
