scope=@klnjs
access=public

ignore-scripts=true

init-author-name=Rune Klein (@rnkln)
init-author-email=runeklein@outlook.com
init-license=MIT
init-version=0.0.1

//registry.npmjs.org/:_authToken=${NPM_TOKEN}
