# Ignore everything
*

# Except these folders
!scripts/
!scripts/**/*
!packages/
!packages/**/*

# Except these files
!.eslintrc.cjs
!.prettierrc.cjs
!package.json
!renovate.json

# Reignore these folders
node_modules/
